body {
  font-family: Arial, sans-serif;
  background-color: #cfa2e4;
  margin: 40px;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formulario {
  width: 60%;
  background-color: #cf7fda;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.formulario input,
.formulario textarea:hover {
  width: 99%;
  padding: 6px;
  margin-bottom: 10px;
  border: 20px color(srgb rgb(208, 161, 230) rgb(211, 122, 203) rgb(0, 0, 0));
  border-radius: 10px;
  align-items: center;
}

.imagen {
  width: 35%;
  padding-left: 20px;
}

.imagen img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}


